@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<BlogMVC.Models.Domain.Tag>
<div>
    @if (Model != null && Model.Any())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>DisplayName</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model)
                {
                 <tr>
                     <td>@i.Id</td>
                     <td>@i.Name</td>
                     <td>@i.DisplayName</td>
                        <td><a asp-area="" asp-controller="AdminTag" asp-action="Edit" asp-route-id="@i.Id">Edit</a></td>
                        <td><a asp-area="" asp-controller="AdminTag" asp-action="Delete" asp-route-id="@i.Id">Delete</a></td>

                    </tr>    
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Empty Tag</p>
    }
</div>
